pre, .mono
{
    font-family:        'Roboto Mono', monospace;
    line-height:        1;
}

.refunded { color: red; }

.navBackBtn
{
    display:            block;
    margin:             10px auto;
}



/**
 *
 * blocks
 *
 */


.tablewrapper
{
    display:            table;
    margin:             0 auto;
    padding:            10px 0;
}

.widewrapper
{
    padding:            20px;
}

.midwrapper
{
    max-width:          600px;
    margin:             0 auto;
    padding:            10px;
}


/**
 *
 * tables
 *
 */


tr.header, th.header, td.header
{
    color:              white;
    background-color:   black;
}
tr.subheader, th.subheader, td.subheader, div.subheader
{
    background-color:   #ccc;
}

td    { vertical-align: text-top;    }
tr.td { vertical-align: text-bottom; }

tr, td { padding: 5px 10px; }


/**
 *
 * grid
 *
 */


.grid_table
{
    display:                grid;
    grid-template-columns:  repeat( 2, 1fr );
    column-gap:             10px;
    row-gap:                5px;
}

.grid_table > *
{
    white-space:        nowrap;
    font-size:          20px;
}

.grid-spacer
{
    grid-column:        1 / span 2;
    height:             20px;
}

.grid-span-2
{
    grid-column:        1 / span 2;
}

.grid-span-all
{
    grid-column:        1 / -1;
}



/*
 *
 * copy_to_clipboard
 *
 */

.copy_to_clipboard        { cursor: grab;     }
.copy_to_clipboard:active { cursor: grabbing; }
.copy_to_clipboard:hover  { color:  blue;     }
