/*----------------------------------------*/
/*  14. Blog Area
/*----------------------------------------*/
.blog-area {
    padding: 40px 40px;
}

.blog-area .container {    
    background: #fefefe;
    border-radius: 10px;
}

.single-blog {
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 5px;
}
.blog-grid .image-scale>img {
    position: relative;
    min-height: 345px;
    object-fit: cover;
    border-radius: 5px;
}
.blog-grid .blog-content {
    padding: 40px 20px 40px 30px;
    position: absolute;
    transition: 0.5s;
    border-radius: 4px;
    background: #1b2654;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.blog-content a h4 {
    font-size: 22px;
    line-height: 30px;
    transition: 0.4s;
}
.admin-type i,
.date-type i,
.comments-type i{
    color: #222;
    margin-right: 5px;
}
.single-blog:hover .blog-content{
    transition: 0.4s;
    background:rgba(58, 91, 170, 0.9);
}
.blog-content p {
    line-height: 28px;
     transition: 0.4s;
}
.single-blog:hover .blog-content a h4:hover{
    color:#17aac9 !important;
    transition: 0.4s;
}
.image-scale {
    transform: scale(1.1);
    display: block;
    transition: 0.5s;
}
.single-blog:hover .image-scale {
    transform: scale(1);
    transition: 0.9s;
}
.blog-meta span {
    color: #ddd;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
}
.blog-meta {
    margin-bottom: 15px;
}
.blog-btn {
    color: #ddd;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s ease 0s;
    position: relative;
}
.blog-btn::after {
    position: absolute;
    right: -20px;
    top: 0px;
    content: "\e628";
    color: #ddd;
    font-family: themify;
    font-size: 16px;
    transition: 0.5s;
}
.blog-grid .single-blog:hover .blog-btn:hover {
    background: transparent;
	color:#17aac9;
    transition: 0.4s;
}
.blog-grid .single-blog:hover .blog-btn::after{
    color:#fff;
    transition: 0.5s;
}
.blog-grid .single-blog:hover .blog-btn:hover::after{
    color:#17aac9;
    transition: 0.4s;
    right: -30px;
}