.product-feature {
    padding: 100px 60px;
    min-height: 100%;
    height: auto;
}
 

.product-feature .card {
    border: none;
    border-radius: 0;
    min-height: 480px;
    height: auto;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.product-feature .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.product-feature .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.product-feature .card:hover::before {
    height: 100%;
}

.product-feature .card-body {
    position: relative;
    z-index: 1;
}

.product-feature .card-body p {
    font-size: 14px;
    color: #fff;
}

